@import url("https://fonts.googleapis.com/css?family=Raleway:400,700,900");
@import url(root.css);


* {
  margin: 0;
  padding: 0;
  font-family: var(--font-arial);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  height: 4rem;
  width: 100%;
  background-color: var(--main-bg-color);
  z-index: 5;
}

.menu {
  display: flex;
  padding-right: calc(var(--margin-padding));
}

.menu ul {
  display: flex;
}

.menu ul li {
  display: flex;
  align-items: center;
  height: 2.5rem;
  margin: 0px 8px;
  list-style: none;
  border-radius: 0.4rem;
}

.menu ul li a {
  padding: 8px;
  font-size: 1rem;
  color: var(--white);
  text-decoration: none;
}

.menu ul li:hover {
  background-color: var(--secondary-bg-color);
}

header h3 {
  margin: 1.875rem;
}

header h3 a {
  color: var(--white);
  text-decoration: none;
}

.leftMenu {
  display: flex;
  align-items: center;
}

.rightMenu {
  display: flex;
  align-items: center;
}

.rightMenu input {
  height: 1.875rem;
  color: var(--white);
  margin-right: 0.5rem;
  padding-left: 0.5rem;
  font-size: 1rem;
  border-radius: 6px;
  border: none;
  background-color: var(--secondary-bg-color);
}

.btns button {
  height: 2.5rem;
  width: 8rem;
  margin: 0rem 0.625rem;
  padding: 0.6rem 1.25rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--main-bg-color);
  cursor: pointer;
  text-decoration: none;
}

.btns button:hover {
  background-color: var(--secondary-bg-color);
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 12.5rem;
  background-color: var(--main-bg-color);
  color: var(--white);
  z-index: 10;
}

.footer1 em {
  margin-left: 0.5rem;
  font-size: 18px;
}

.footer1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2.5rem;

  & img {
    width: 220px;
    height: 10rem;
  }
}

.footer2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  color: var(--white);
}

.footer2 h4 {
  font-size: 1.5rem;
}

.footer3 {
  display: flex;
  flex-direction: column;
  margin-right: 3.75rem;
  text-align: center;
}

.footer3 h3 {
  color: var(--white);
}

.footerNav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footerNav ul li {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  color: var(--white);
}

.footerNav ul li a {
  margin-left: 3px;
  color: var(--white);
  list-style: none;
  text-decoration: none;
}

.sidebar {
  display: none;
  position: fixed;
  height: 100vh;
  width: 150px;
  padding-top: 12px;
  background-color: #18404e;
  transition: 0.6s;
  z-index: 5;
  & ul {
    width: 100%;
    padding-top: 8px;
    & li {
      padding: 20px 0px 0px 8px;
      list-style: none;
      cursor: pointer;
      & a {
        color: var(--white); 
        text-decoration: none;
      }
      & #addAnimeButtonMobile {
        width: 100%;
        height: 100%;
        margin-left: -20px;
        border: none;
        color: var(--white);
        background-color: #18404e; 
        font-size: 1rem;
        cursor: pointer;
      }
      & #addAnimeButtonMobile:hover {
        background-color: #00171f;
      }
      & i {
        padding-right: 8px;
      }
    }
  }
}

.sidebar ul li {
  border-top: 2px solid #00171f;
}

.sidebar ul li:hover {
  background-color: #00171f;
}

.sidebar i {
  margin-bottom: 1rem;
}

.sidebar i:hover {
  background-color: #040d25;
}

.sidebarActivator {
  margin-left: 10px;
  padding: 8px;
  border-radius: 4px;
  font-size: 24px;
  color: var(--white);
  cursor: pointer;
}

.sidebar ul li a {
  padding: 1rem;
  border-radius: 6px;
  font-size: 1rem;
}

i {
  margin-right: 8px;
}

#logoutWindow {
  display: none; 
  align-items: center; 
  justify-content: center;
  position: fixed; 
  height: 100%; 
  width: 100%; 
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 8;
  & article {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    width: 18.75rem; 
    height: 135px;
    padding: 1rem; 
    background-color: #00171f;
    border-radius: 1rem;
    & p {
      padding-top: 1rem; 
      font-size: 18px; 
      font-weight: 450;
      color: var(--white); 
    }
    & #logoutBtnContainer {
      display: flex; 
      align-items: center; 
      justify-content: space-around; 
      width: 100%; 
      padding-top: 24px;
    }
  }
}


.logoutBtn {
  width: 100px;
  height: 50px;
  border-radius: 1rem;
  border: none;
  font-weight: 550;
  font-size: 15px;
  background-color: #DB504A;
  cursor: pointer;
}

#addAnimeWindow {
  display: none; 
  align-items: center; 
  justify-content: center;
  height: 100%; 
  width: 100%; 
  position: fixed; 
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 8;
  & #details {
    height: 480px;
    width: 500px;
    padding: 24px;
    background-color: #00171f;
    & p {
      font-size: 24px;
      color: var(--white);
    }
    & .dataContainer {
      display: grid;
      grid-template-columns: auto auto;
      color: var(--white);
      & article {
        display: flex;
        flex-direction: column;
        margin: 12px;
        & input  {
          height: 36px;
          padding-left: 8px;
          margin-top: 4px;
          border-radius: 8px;
          border: none;
          font-size: 1rem;
        }
        & select {
          height: 36px;
          padding-left: 8px;
          margin-top: 4px;
          border-radius: 8px;
        }
      }
    }
    & .windowButtonContainer {
      display: flex;
      justify-content: space-around;
      margin-top: 32px;
      & button {
        height: 50px;
        width: 100px;
        cursor: pointer;
        border-radius: 1rem;
        border: none;
        font-size: 1rem;
        font-weight: 550;
        background-color: #DB504A;
        color: #040d25;
      }
    }
  }
}

@media (max-width: 600px) {
  #details {
    height: 750px !important;
    & .dataContainer {
      display: block !important;
    }
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 31.25rem;
  }

  .footer1 {
    margin-left: 0rem;
    font-size: 0.5rem;
    & img {
      width: 150px;
      height: 110px;
    }
  }

  .footer2 {
    font-size: 0.6rem;
  }

  .footer2 {
    & p {
      font-size: 12px;
    }
    & h4 {
      padding: 0px 1rem;
      font-size: 18px;
    }
  }

  .footer3 {
    margin-right: 0rem;
    font-size: 1rem;
  }

  .leftMenu {
    display: none;
  }

  .rightMenu {
    & input {
      width: 120px;
    }
    & h3 {
      margin: 0px 15px 0px 5px;
      font-size: 1rem;
    }
  }

  #activator {
    font-size: 1rem;
  }
}

@media (min-width: 600px) and (max-width: 1100px) {
  .leftMenu {
    display: none;
  }

  .rightMenu {
    & input {
      width: 120px;
    }
  }

  .footer1 img {
    width: 160px;
    height: 110px;
  }
}

@media (min-width: 1100px) {
  #activator {
    display: none;
  }
}